body {
  background-image: url("http://i.imgur.com/4HPEcJ8.jpg");
  background-size: cover;
}

#header {
  height: 60px;
  width: 100%;
  background: #302F33;
}

#header-user {
  height: 60px;
  width: auto;
  float: right;
  line-height: 60px;
  color: #fff;
  padding-left: 7px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -o-transition:background .2s ease-out;
  -ms-transition:background .2s ease-out;
  -moz-transition:background .2s ease-out;
  -webkit-transition:background .2s ease-out;
  transition:background .2s ease-out;
}


#header-user:hover {
  background: #444444;
  -o-transition:background .2s ease-in;
  -ms-transition:background .2s ease-in;
  -moz-transition:background .2s ease-in;
  -webkit-transition:background .2s ease-in;
  transition:background .2s ease-in;
  cursor: pointer;
}

#header-user-image {
  height: 46px;
  width: 46px;
  margin: 7px;
  margin-left: 12px;
  float: right;
  border-radius: 100px;
}

#dashboard-panel-container {
  width: 30%;
  margin-left: 30px;
  margin-top: 30px;
}

#dashboard-panel-header {
  height: 40px;
  width: 100%;
  padding-left: 10px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  line-height: 40px;
  background: #F5F5F5;
  color: #444444;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; 
  cursor: move; 
}

#dashboard-panel-body {
  width: 100%;
  height: calc(100% - 40px);
  background: #FFFFFF;
  border: 1px solid #dddddd;
  color: #444444;
  font-family: Arial;
  padding-left: 10px;
  overflow: hidden;
}